aside {
    float: left;
    max-height: 85dvh;
    max-width: 50%;
    background-color: $color-gray;
    overflow: auto;
    padding: 2rem;    
}

.countries__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.country__link {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: $color-white;
    font-family: $font-base;
    font-size: $font-general;
    padding: 0.2rem;
    border: 0.5px solid transparent;
    border-radius: 10px;

    
    &:visited {
        color:$color-white;
    }

    &:hover {
        background-color: $color-green;
    }

    img{
        width: 2rem;
        height: 1.5rem;
    }
}