$color-white: #FFFFFF;
$color-light-white: #ffffff15;
$color-blank-white: #F0F1F1;
$color-gray: #3C3C3C;
$color-black: #000000;
$color-light-gray: #46e95f26;
$color-green: #478d2b;
$color-light-green: #06e027;
$color-blank-black: #1A1818;