$color-white: #FFFFFF;
$color-light-white: #ffffff15;
$color-blank-white: #F0F1F1;
$color-gray: #3C3C3C;
$color-black: #000000;
$color-light-gray: #3C3C3C26;
$color-purple: #490865;
$color-light-purple: #700899;
$color-blank-black: #1A1818;