$font-base: 'Open Sans', sans-serif;
$font-alt: 'Roboto', sans-serif;


$font-head1: 36px;
$font-head2: 32px;
$font-subhead1: 28px;
$font-subhead2: 20px;
$font-general: 18px;
$font-typical: 16px;

$font-nav: 16px;