@import "reset";
@import "settings/fonts";
@import "settings/colors";
@import "settings/breakpoints";
@import "./componenets-style/header.scss";
@import "./componenets-style/menu.scss";
@import "./componenets-style/mainContent.scss";
@import "./componenets-style/footer.scss";
@import "./componenets-style/news.scss";
@import "./componenets-style/popup.scss";

//scrollbar custom
::-webkit-scrollbar {
    width: 0.6vw;
}

::-webkit-scrollbar-track {
    background-color: $color-blank-green;
}

::-webkit-scrollbar-thumb {
    background-color: $color-gray;
    border-radius: 20px;
}